<div class="contact-form">
    <form action="/contact_success" name="contact" method="POST" netlify-honeypot="bot-field" data-netlify-recaptcha="true" value="New lead from %{formName} (%{submissionId} at %{siteName})" enctype="multipart/form-data" id="contact-form" netlify>
        <input type="hidden" name="form-name" value="contact" /><br><br>
        <div style="display: none;"><input type="text" name="trap" /></div>
        <label for="name">お名前:</label><br>
        <input type="text" id="name" name="name" required><br><br>
        <label for="email">メールアドレス:</label><br>
        <input type="email" id="email" name="email" required><br><br>
        <label for="message">お問い合わせ内容:</label><br>
        <textarea id="message" name="message" rows="4" required></textarea><br><br>
        <input type="file" name="資料" />
        <input type="submit" value="送信">
    </form>
</div>
