<div class="contact-form">
    <form name="contact" method="POST" netlify>
        <label for="name">お名前:</label><br>
        <input type="text" id="name" name="name" required><br><br>
        <label for="email">メールアドレス:</label><br>
        <input type="email" id="email" name="email" required><br><br>
        <label for="message">お問い合わせ内容:</label><br>
        <textarea id="message" name="message" rows="4" required></textarea><br><br>
        <input type="file" name="添付" />
        <input type="submit" value="送信">
    </form>
</div>
