<aside class="container-sub">

<div class="search-box">
        <!-- <h2>検索</h2> -->
    <div class="search-form">
        <form action="https://duckduckgo.com/" method="get" target="_blank">
        <input type="hidden" name="sites" value="{{ .Site.BaseURL }}">
        <input type="text" name="q" placeholder="Search in DuckDuckGo">
        <!-- <input type="submit" value="検索"> -->
        </form>
    </div>
</div>
    <div class="scroll-box-sub">
        <h2>カテゴリ</h2>
        <div class="categories">
            <ul class="dropdown-menu">
            {{ $categories := .Site.Taxonomies.categories }}
            {{ range $i, $e := $categories }}
                <li><a href="{{ relURL (print "categories/" $i | urlize) }}">{{ $i }}</a></li>
            {{ end }}
            </ul>
        </div>
    </div>
    <div class="scroll-box-sub">
        <h2>タグ</h2>
        <div class="tags">
            <ul>
            {{ $tags := .Site.Taxonomies.tags }}
            {{ $count := 0 }}
            {{ range $tagName, $tag := $tags }}
                {{ if lt $count 50 }}
                {{ $encodedTagName := urlquery $tagName }}
                <li><a href="{{ relURL (print "tags/" $encodedTagName | safeURL ) }}">{{ $tagName }}</a></li>
                {{ end }}
                {{ $count = add $count 1 }}
            {{ end }}
            </ul>
        </div>
    </div>
<div class="scroll-box-sub-pr">
<h2>PR</h2>
<a href="https://px.a8.net/svt/ejp?a8mat=3THBU1+B4OQWI+2GMK+ZRIB6" rel="nofollow" class="text-link">1冊115円のDMMコミックレンタル！</a>
<img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3THBU1+B4OQWI+2GMK+ZRIB6" alt="">

<a href="https://px.a8.net/svt/ejp?a8mat=3THBU1+B4OQWI+2GMK+ZTFR5" rel="nofollow">
<img border="0" width="" height="" alt="" src="https://www21.a8.net/svt/bgt?aid=230915881673&wid=001&eno=01&mid=s00000011486006016000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3THBU1+B4OQWI+2GMK+ZTFR5" alt="">
<br>

<a href="https://px.a8.net/svt/ejp?a8mat=3THBU3+8F1NOY+5B90+5YJRM" rel="nofollow" class="text-link">世界からのサプライズ動画-セカサプ動画-</a>
<img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3THBU3+8F1NOY+5B90+5YJRM" alt="">

<a href="https://px.a8.net/svt/ejp?a8mat=3THBU3+8F1NOY+5B90+601S1" rel="nofollow">
<img border="0" width="" height="" alt="" src="https://www22.a8.net/svt/bgt?aid=230915883509&wid=001&eno=01&mid=s00000024786001008000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3THBU3+8F1NOY+5B90+601S1" alt="">
<br>

<a href="https://px.a8.net/svt/ejp?a8mat=3THDEE+7RTR3M+1AYA+5ZEMQ" rel="nofollow" class="text-link">TAMIYA SHOP ONLINE</a>
<img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3THDEE+7RTR3M+1AYA+5ZEMQ" alt="">

<a href="https://px.a8.net/svt/ejp?a8mat=3THDEE+7RTR3M+1AYA+5YZ75" rel="nofollow">
    <img border="0" width="234" height="60" alt="" src="https://www25.a8.net/svt/bgt?aid=230917910470&wid=001&eno=01&mid=s00000006085001003000&mc=1"></a>
    <img border="0" width="1" height="1" src="https://www16.a8.net/0.gif?a8mat=3THDEE+7RTR3M+1AYA+5YZ75" alt="">
<br>


</div>
</aside>
